nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        // min-height: 10vh;
        padding: 2rem 0 3rem 0;
        position: relative;
        z-index: 100;
    
        ul {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex: 1;
            list-style: none;
        }

        .mobile-header {
            display: contents;
        } 

        // .list {
        //     text-decoration: none;
        //     line-height: 1;            
        //     position: relative;
        //     z-index: 0;
        //     display: inline-block;
        //     padding: 5px 5px;
        //     overflow: hidden;
        //     vertical-align: bottom;
        //     transition: color .3s ease-out;
        // }

        // .list a {
        //     color: var(--color-text);
        // }

        // ul .list {
        //     padding: 10px;
        //     // transition: 1s;
        // }

        // .list::before {
        //     content: "";
        //     position: absolute;
        //     z-index: -1;
        //     top: 0;
        //     left: 0;
        //     transform: translateY(calc(100%));
        //     // margin-left: 6px;
        //     width: 100%;
        //     height: 100%;
        //     background-image: linear-gradient(90deg, #64b3f4 0%, #c2e59c 100%);
        //     transition: transform .25s ease-out;
        // }

        // ul .list:hover {
        //     font-weight: bold;
        // }

        // .list:hover::before {
        //     transform: translateY(0);
        //     transition: transform .25s ease-out;

        //     a {
        //         color: black;
        //     }
        //  }
    
        h1{
            font-size: 18px;
            font-weight: bold;
            color: var(--color-text);
    
            #logo {
                flex: 3;
                position: relative;
            }
        
        }

        // input[type=checkbox]{

        //         display: none;
            
        //     } 
            
            /*HAMBURGER MENU*/
            
            .hamburger {
            
                display: none;
                font-size: 24px;
                user-select: none;
            
            }

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                border-radius: 20px;
                // margin: 5px auto;
                margin: 3.5px auto;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: var(--color-text);
            }
}


//Logo
#logo{
    margin-left: 69px;
    // margin-left: 40%;
    // margin-right: 20%;

    h1{
    font-size: 18px;
    font-weight: 40;
    color: var(--color-text);
    margin-top: 3%;
    }
}


//Navigation links

.nav-link {
    // font-size: 220%;
    // font-weight: 2200;
    margin-left: -2%;
    margin-top: 5%;
    position:relative;
    padding: 6px;
    display: inline-block;    
}

.nav-link::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #b5b5b5;;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


//Dark Mode Button
button::-moz-focus-inner {
    border: 0;
  }
  
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]::after {
    position: absolute;
    width: 100px;
    left: calc(50% - 60px);
    top: 125%;
    text-align: center;
    box-sizing: border-box;

    content: attr(data-tooltip);
    color: var(--bg);
    background: var(--color-text);
    padding: 8px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;

    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: ease-in-out opacity 0.3s, transform 0.2s;
}


[data-tooltip]:hover::after{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dark-mode-toggle {
    position: fixed;
    z-index: 100;
    // top: 32px;
    // top: 9%;
    right: 30px;
    color: var(--color-text);
    border: 0px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    // border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 750ms;
}
