// .container{
//     max-width: 1200px;
//     padding: 70px 0;
//     margin-top: 100px;
//     text-align: center;
//     width: 100%;
//     margin: 0 auto;
//     animation: transitionIn 1.75s;
// }

// @keyframes transitionIn{
//   from{
//     opacity: 0;
//     transform: rotateX(-10deg);
//   }

//   to{
//     opacity: 1;
//     transform: rotateX(0);
//   }
// }

// main{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-gap: 30px;
//     margin: 30px 15px 0px 15px;
//     padding-bottom: 100px;
// }

// .title{
//     width: 70%;
//     margin: 0 auto;
//     color: var(--color-text); //for description below header
// }

// .title h2{
//     text-align: justify;
//     font-size: 50px;
//     color: var(--color-text);
//     font-weight: 500;
//     margin-left: -18%;
// }
// .intro{
//     display: grid;
//     grid-template-columns: auto auto auto;
//     // grid-gap: 50px;
// }




// .desc1{
//     text-align: justify;
//     margin-left: -18%;
//     margin-top: 8%;
//     color: var(--color-text);
    
// }


// .slider{
//     height: 50px;
//     margin-left: 26%;
//     margin-top: -10.3%;
//     text-align: left;
    
//     overflow: hidden;
//   }
//   .slider div {
//     color: var(--color-text);
//     height: 50px;
//     width: 260%;
//     text-transform: uppercase;
//     // border: 1px solid #4BB3FD;
//     margin-bottom: 50px;
//     padding: 2px 15px;
//     text-align: left;
//     box-sizing: border-box;
//   }
//   .slider-text1 {
//     background: var(--bg);
//     animation: slide 6s linear infinite;
//   }
//   .slider-text2 {
//     background: var(--bg);
//   }
//   .slider-text3 {
//     background: var(--bg);
//   }
//   @keyframes slide {
//     0% {margin-top:-300px;}
//     5% {margin-top:-200px;}
//     33% {margin-top:-200px;}
//     38% {margin-top:-100px;}
//     66% {margin-top:-100px;}
//     71% {margin-top:0px;}
//     100% {margin-top:0px;}
//   }


// h2{
//   color: var(--color-text);
//   font-size: xx-large;
//   margin-top: 5vh;
//   margin-bottom: 30vh;
//   position: relative;
//   z-index: 10;
// }

// h8{
//   color: var(--bg);
//   font-size: 17vw;
//   font-weight: 800;
//   text-shadow: 0 0 15px #0000FF;
//   position: absolute;
//   z-index: -1;
// }

.name{
    font-size: xx-large;
    font-weight: bold;
    color: var(--color-text); 
    position: absolute; 
    top: 0; 
    left: -0.43em; 
    bottom: 0; 
    right: 0; 
    z-index: 0; 
    line-height: 1.4em;
}

.webslingr{
    position: relative; 
    font-size: 17vw;
    height: 100px; 
    z-index : 1;
    line-height: 0.3em;
    margin-bottom: 30vh;
    text-shadow: 0 0 15px var(--webslingr);
    color: var(--bg);
    font-weight: 800;


    //ABOUT ME//

    #about-me {
      background: var(--button);
      color: #ffffff;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 33px;
      border: 0;
      transition: all 0.5s;
      border-radius: 10px;
      margin-top: 8%;
      width: auto;
      position: relative;
      align-self: center;
    
      &::after {
          content: "\f007";
          font-family: "Font Awesome 5 Pro";
          font-weight: 400;
          position: absolute;
          left: 75%;
          top: 34%;
          right: 15%;
          bottom: 0;
          opacity: 0;
    
      }
    
      &:hover {
          background: #2b2bff;
          transition: all 0.5s;
          border-radius: 10px;
          box-shadow: 0px 6px 15px #0000ff61;
          // padding: .5rem 3.5rem .5rem .5rem;
          padding-right: 4rem;
          
    
          &::after {
              opacity: 1;
              transition: all 0.5s;
    
          }
      }
    
    
    } 
}




//MOUSE ANIMATION//

.mouse{
    width: 22px;
    height: 33px;
    position: relative;
    align-items: center;
    // margin-top: 5vh;
    margin-left: 49vw;
    background: #4e5559 linear-gradient(transparent 0%,
                                        transparent 50%,
                                        #ffffff 50%,
                                        #ffffff 100%);
    background-size: 100% 200%;
    border-radius: 100px;
    animation: colorSlide 5s linear infinite,
               nudgeMouse 5s ease-out infinite,
               transitionIn 5s;
  }
  .mouse:before,
  .mouse:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .mouse:before{
    width: 16px;
    height: 27px;
    background-color: var(--bg);
    border-radius: 100px;
  }
  .mouse:after{
    background-color: var(--color-text);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    animation: trackBallSlide 5s linear infinite;
  }



  @keyframes transitionIn{
    from{
      opacity: 0;
      transform: rotateX(-10deg);
    }
  
    to{
      opacity: 1;
      transform: rotateX(0);
    }
  }
  // .text{
  //   margin-top: 20px;
  //   margin-left: -4vw;
  //   // font-family: Cabin;
  //   font-size: 15px;
  //   letter-spacing: 5px;
  //   color: #fff;
  //   text-indent: 12px;
  //   animation: colorText 5s ease-out infinite,
  //              nudgeText 5s ease-out infinite;
  // }
  
  /* Animations */
  // @keyframes colorSlide{
  //   0% {
  //     background-position: 0% 100%;
  //   }
  //   20% {
  //     background-position: 0% 0%;
  //   }
  //   21% {
  //     background-color: #4e5559;
  //   }
  //   29.99% {
  //     background-color: #ffffff;
  //     background-position: 0% 0%;
  //   }
  //   30% {
  //     background-color: #4e5559;
  //     background-position: 0% 100%;
  //   }
  //   50% {
  //     background-position: 0% 0%;
  //   }
  //   51% {
  //     background-color: #4e5559;
  //   }
  //   59% {
  //     background-color: #ffffff;
  //     background-position: 0% 0%;
  //   }
  //   60% {
  //     background-color: #4e5559;
  //     background-position: 0% 100%;
  //   }
  //   80% {
  //     background-position: 0% 0%;
  //   }
  //   81% {
  //     background-color: #4e5559;
  //   }
  //   90%, 100% {
  //     background-color: #ffffff;
  //   }
  // }
  
  // @keyframes colorText{
  //   21% {
  //     color: #4e5559;
  //   }
  //   30% {
  //     color: #ffffff;
  //   }
  //   51% {
  //     color: #4e5559;
  //   }
  //   60% {
  //     color: #ffffff;
  //   }
  //   81% {
  //     color: #4e5559;
  //   }
  //   90% {
  //     color: #ffffff;
  //   }
  // } 
  
  @keyframes trackBallSlide{
    0%{
      opacity: 1;
      transform: scale(1) translateY(-5px);
    }
    6%{
      opacity: 1;
      transform: scale(0.9) translateY(5px);
    }
    14%{
      opacity: 0;
      transform: scale(0.4) translateY(35px);
    }
    15%, 19%{
      opacity: 0;
      transform: scale(0.4) translateY(-5px);
    }
    28%, 29.99%{
      opacity: 1;
      transform: scale(1) translateY(-5px);
    }
    30%{
      opacity: 1;
      transform: scale(1) translateY(-5px);
    }
    36%{
      opacity: 1;
      transform: scale(0.9) translateY(5px);
    }
    44%{
      opacity: 0;
      transform: scale(0.4) translateY(35px);
    }
    45%, 49%{
      opacity: 0;
      transform: scale(0.4) translateY(-5px);
    }
    58%, 59.99%{
      opacity: 1;
      transform: scale(1) translateY(-5px);
    }
    60%{
      opacity: 1;
      transform: scale(0.9) translateY(-5px);
    }
    66%{
      opacity: 1;
      transform: scale(0.9) translateY(5px);
    }
    74%{
      opacity: 0;
      transform: scale(0.4) translateY(35px);
    }
    75%, 79%{
      opacity: 0;
      transform: scale(0.4) translateY(-5px);
    }
    88%, 100%{
      opacity: 1;
      transform: scale(1) translateY(-5px);
    }
  }
  // @keyframes nudgeMouse{
  //   0%{
  //     transform: translateY(0);
  //   }
  //   20%{
  //     transform: translateY(8px);
  //   }
  //   30%{
  //     transform: translateY(0);
  //   }
  //   50%{
  //     transform: translateY(8px);
  //   }
  //   60%{
  //     transform: translateY(0);
  //   }
  //   80%{
  //     transform: translateY(8px);
  //   }
  //   90%{
  //     transform: translateY(0);
  //   }
  // }
  // @keyframes nudgeText {
  //   0%{
  //     transform: translateY(0);
  //   }
  //   20%{
  //     transform: translateY(2px);
  //   }
  //   30%{
  //     transform: translateY(0);
  //   }
  //   50%{
  //     transform: translateY(2px);
  //   }
  //   60%{
  //     transform: translateY(0);
  //   }
  //   80%{
  //     transform: translateY(2px);
  //   }
  //   90%{
  //     transform: translateY(0);
  //   }
  // }
