// // Tablet  Size

// @media (max-width:768px) {
//     html, body, section {
//         block-size: 100%;
//     }

//     p {
//         display: none;
//     }
// }

//MEDIUM SCREEN


@media only screen and (min-width: 768px) and (max-width: 1200px) {

    body {
        border: 0 !important;
    }

    #container3D {
        // top: 0%;
        // left: 8%;
        width: 102vw;
        height: 150vw;
    }

    // .hero img {
    //     width: 90%;
    //     margin-top: 20%;
    // }

    // section {
    //     width: 100%;
    // }

    // .mouse{
    //     width: 52px;
    //     height: 73px;
    // }

    // .mouse:before{
    //     width: 40px;
    //     height: 63px;
    // }

    // .mouse:after{
    //     width: 10px;
    //     height: 10px;
    // }

}


//SMALL SCREEN

@media only screen and (max-width: 900px) {

    .hero img {
        width: 105vw;
        margin-top: 25%;
    }

    .mousey {
        display: block;
    }

    .name {
        font-size: large;
    }

}