//MEDIUM SCREEN


@media only screen and (min-width: 768px) and (max-width: 1200px) {

    #logo {
        margin-right: 38%;
    }

    nav {
        justify-content: end;
    }

    .dark-mode-toggle {
        margin-right: 24px;
    }

    .hamburger.active {
        margin-left: 140px;
        margin-top: 50px;
    }

    .dark-mode-toggle {
        right: 0;
    }
}


//SMALL SCREEN

@media only screen and (max-width: 767px) {

    nav {
        // width: 60%;
        margin-left: 20vw;
        margin-top: 2.5vw;
    }

    .menu { 
        overflow-y: hidden;
        position: fixed;
        // left: -100%;
        right: 100%;
        // top: .1rem;
        top: -17px;
        flex-direction: column;
        background-color: var(--bg-section);
        width: 100vw;
        height: 100vh;
        z-index: 999;
        // border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu.active {
        right: 0;
        width: 101vw;
        height: 105vh;
        touch-action: none; // Prevents scrolling on active menu
    }


    .menu li {
        font-size: 10vw;
    }

    // nav {
    //     left: 80px;
    // }
    
    // .menu li:hover {
    
    //     display: inline-block;
    
    //     background-color:#4c9e9e;
    
    //     transition: 0.3s ease;
    
    // }
    
    // .menu li + li {
    
    //     margin-top: 12px;
    
    // }
        
    nav .hamburger {
        display: block;
        cursor: pointer;
        z-index: 999;
        // margin-left: 120px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .hamburger.active {
        margin-left: 170px;
    }

    // #dark-mode-toggle {
    //     top: 43px;
    //     right: 13px;
    // }
}