//MEDIUM SCREEN


@media only screen and (min-width: 768px) and (max-width: 1200px) {
  
    title{
        width: 95%;
    }
    .blogContent{
        bottom:0;
    }

    h2{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }


    h3{
      text-align: center;
      margin-top: 35vh;
    }

}


//SMALL SCREEN

@media only screen and (max-width: 767px) {

   .logo{
     padding-top: 40px;
     padding-bottom: 30px;
   }

    h3{
      // width: 96%;
      width: 85%;
      font-size: 30px;
      // margin-top: 30vh;
      margin-bottom: 12%;
      text-align: center;
    }

    //HERO

    h2{
      font-size: x-large;
      margin-top: -20%;
      margin-bottom: 5%;
    }

    #about-me{
        font-size: 14px;
        padding: 11px 29px;
    }

    .mouse{
        width: 20px;
        height: 31px;
        margin-left: 48vw;
        margin-top: 12%;
    }

    // Technology

    .other {
      // margin-bottom: 140%;
      margin-top: 0;
    }

    .frontend, .backend, .other {
     flex-direction: column;
    }

    .grid-container {
      display: grid;
      margin-top: 75%;
      margin-left: 55%;
      /* width: 40%; */
      /* justify-content: end; */
      /* grid-template-columns: repeat(4, 1fr); */
      row-gap: 30px;
      transform-style: preserve-3d;
      margin-bottom: 340px;
    }

    .tech1, .tech2, .tech3, .tech4, .tech5, .tech6, .tech7, .tech8, .tech9, .tech10
    .tech11, .tech12, .tech13, .tech14 {
      width: 23vw;
    }

  .tech1 {
      // position: absolute;
      position: relative;
      // margin-top: 20vh;
      left: 0;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--bootstrap);
          border-radius: 20px;
      }
  
  }
  
  .tech2 {
      bottom: 80%;
      left: 20%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--html5);
          border-radius: 20px;
      }
  }
  
  .tech3 {
      left: 35%;
      top: 70%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--css3);
          border-radius: 20px;
      }
  }
  
  
  .tech4 {
      left: 25%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--javascript);
          border-radius: 20px;
      }
  }
  
  .tech5 {
      left: 45%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--react);
          border-radius: 20px;
      }
  }
  
  
  
  .backend {
      display: flex;
      // margin-top: 340px;
      margin-bottom: 150px;
      justify-content: space-evenly;
  
      p {
          align-items: center;
          font-size: 30px;
          font-weight: 500;
          color: var(--color-text);
      }
  }
  
  .grid-container2 {  
      display: grid;
      // width: 40%;
      margin-top: 75%;
      margin-left: 55%;
      // justify-content: end;
      // grid-template-columns: repeat(4, 1fr);
      row-gap: 40px;
      transform-style: preserve-3d;
      // margin-top: 340px;
      // margin-bottom: 340px;
  }
  
  .grid-container2 p {
      color: var(--color-text);
      margin-top: 5%;
      font-weight: bold;
      font-size: large;
  }

  
  .tech6 {
      // position: absolute;
      position: relative;
      // margin-top: 20vh;
      top: 40%;
      left: 30%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--mysql);
          border-radius: 20px;
      }
  
  }
  
  .tech7 {
      bottom: 90%;
      left: 20%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--node);
          border-radius: 20px;
      }
  }
  
  .tech8 {
      left: 35%;
      top: 40%;
      margin-left: 25%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--nginx);
          border-radius: 20px;
      }
  }
  
  
  .tech9 {
      left: 25%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--apache);
          border-radius: 20px;
      }
  }
  
  .tech10 {
      left: 45%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--php);
          border-radius: 20px;
      }
  }
  
  .tech11 {
      left: 45%;
      top:45%;
      margin-left: 50%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--dotnet);
          border-radius: 20px;
      }
  }
  
  .grid-container {
    display: grid;
    margin-top: 75%;
    margin-left: 55%;
    /* width: 40%; */
    /* justify-content: end; */
    /* grid-template-columns: repeat(4, 1fr); */
    row-gap: 30px;
    transform-style: preserve-3d;
    margin-bottom: 340px;
  }
  
  .grid-container3 {  
      display: grid;
      margin-top: 75%;
      margin-left: 35%;
      // width: 40%;
      // justify-content: end;
      // grid-template-columns: repeat(4, 1fr);
      row-gap: 30px;
      transform-style: preserve-3d;
      // margin-top: 340px;
      margin-bottom: 340px;
  }
  
  .grid-container3 p {
      color: var(--color-text);
      margin-top: 5%;
      font-weight: bold;
      font-size: large;
  }
  
  .tech6 {
      // position: absolute;
      position: relative;
      // margin-top: 20vh;
      left: 30%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--mysql);
          border-radius: 20px;
      }
  
  }
  
  .tech7 {
      bottom: 80%;
      left: 20%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--node);
          border-radius: 20px;
      }
  }
  
  .tech8 {
      left: 35%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--nginx);
          border-radius: 20px;
      }
  }
  
  
  .tech9 {
      left: 25%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--apache);
          border-radius: 20px;
      }
  }
  
  .tech10 {
      left: 45%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--php);
          border-radius: 20px;
      }
  }
  
  .tech11 {
      left: 45%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--dotnet);
          border-radius: 20px;
      }
  }
  
  .tech12 {
      left: 45%;
      bottom: 95%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--wordpress);
          border-radius: 20px;
      }
  }
  
  .tech13 {
      left: 45%;
      top: 15%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--drupal);
          border-radius: 20px;
      }
  }
  
  .tech14 {
      left: 45%;
      bottom: 85%;
  
      img {
          box-shadow: 0 0 0.9em 0.1em var(--postman);
          border-radius: 20px;
      }
  }
    
    
    
}