:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

// .projects{
//     margin-top: 120%;
// }


.title{
  width: 70%;
  margin: 0 auto;
  color: var(--color-text); //for description below header
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  // width: max-content;
}

.card {
  // font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 15em;
  width: 10em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3em -2em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color-text);
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  position: absolute;
  top: 0;
  // right: 0;
  text-align: left;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

// .card p {
//   font-size: 0.75em;
//   font-family: 'Open Sans';
//   margin-top: 0.5em;
//   line-height: 2em;
// }

.card p {
  position: absolute;
  opacity: 0;
  font-size: 19px;
  font-weight: 600;
  left: 25px;
  bottom: 45px;
}

.card:hover p {
  font-weight: 600;
  opacity: 1;
  transition: .3s;
}

.card .tags {
  display: flex;
}

.card .tags {
  
  .tag {
    font-size: 0.75em;
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, var(--transition-time);
  }

  .tag1 {
    background: var(--taghtml5);
  }

  .tag2 {
    background: var(--tagscss);
  }

  .tag3 {
    background: var(--tagjavascript);
  }

  .tag4 {
    background: var(--tagphp);
  }

  .tag5 {
    background: var(--tagreact);
  }

  .tag6 {
    background: var(--tagbootstrap);
  }

  .tag7 {
    background: var(--tagelectron);
  }

  .tag8 {
    background: white;
    color: var(--taglaravel);
  }

  .tag9 {
    background: var(--tagwordpress);
  }

}

.card:hover .tags { 
  
  .tag {
    // background: var(--taghtml5);
    // box-shadow: 0 0 0.9em 0.1em var(--html5);
    color: white;
  }

  // .tag1 {
  //   background: var(--taghtml5);
  //   // box-shadow: 0 0 0.9em 0.1em var(--html5);
  // }

  // .tag2 {
  //   background: var(--tagscss);
  //   // box-shadow: 0 0 0.9em 0.1em var(--scss);
  // }

  .tag8 {
    color: var(--taglaravel);
    border: 1px solid var(--taglaravel);
  }

}



// .card .date {
//   position: absolute;
//   top: 0;
//   right: 0;
//   font-size: 0.75em;
//   padding: 1em;
//   line-height: 1em;
//   opacity: .8;
// }

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: var(--bg-section);
  width: 250%;
  height: 250%;
}

.card:after {
  background: var(--bg-section);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color-text);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 0;
  color: var(--color-text);
}

.card-grid-space .card-container {
  display: flex;
  justify-content: center;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
  
.project-link {
    font-size: 220%;
    // font-weight: 2200;
    margin-left: -2%;
    margin-top: 5%;
    color: var(--color-text);
    position:relative;
    padding: 6px;
    display: inline-block;    
}

.project-link::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color-text);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.project-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}