@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
:root {
  --bg: #FCFCFC;
  --bg-section: #FCFCFC;
  --color-headings: rgba(52, 73, 94,1.0);
  --color-text: #333333;
  --color-language: black;
  --shadow: #9f9f9f;
  --shadow-glow: none;
  --webslingr: rgb(218, 218, 218);
  --button: #0F0F6D;
  --scroller: #b5b5b5;
  --hoverScroll: blue;
}

.darkmode {
  --bg: #1c1c1c;
  --bg-section: #1c1c1c;
  --color-headings: #b5b5b5;
  --color-text: #b5b5b5;
  --color-language: white;
  --shadow: #1c1c1c;
  --shadow-glow: indigo;
  --webslingr: #161616;
  --button: #2b2bff;
  --scroller: #30ff00;
  --hoverScroll: #00c6ff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.logo {
  margin-left: 69px;
}
.logo h1 {
  font-size: 18px;
  font-weight: 40;
  color: var(--color-text);
  margin-top: 3%;
}

button::-moz-focus-inner {
  border: 0;
}

.dark-mode-toggle {
  position: fixed;
  z-index: 100;
  top: 45px;
  right: 30px;
  color: var(--color-text);
  border: 0px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 750ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--bg);
}

a {
  transition: all 0.5s;
  text-decoration: none;
  color: var(--color-text);
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
}
nav h1 {
  font-size: 18px;
  font-weight: 40;
  color: var(--color-text);
}
nav h1 #logo {
  flex: 3;
  position: relative;
}

section {
  padding: 70px 0;
  margin-top: 100px;
  background: var(--bg-section);
  text-align: center;
}

.name {
  font-size: xx-large;
  font-weight: bold;
  color: var(--color-text);
  position: absolute;
  top: 0;
  left: -0.43em;
  bottom: 0;
  right: 0;
  z-index: 0;
  line-height: 1.4em;
}

.webslingr {
  position: relative;
  font-size: 17vw;
  height: 100px;
  z-index: 1;
  line-height: 0.3em;
  margin-bottom: 30vh;
  text-shadow: 0 0 15px var(--webslingr);
  color: var(--bg);
  font-weight: 800;
}

h2 {
  font-size: 42px;
  color: var(--color-text);
  margin-bottom: 5%;
  margin-left: 2%;
  text-align: left;
}

h3 {
  font-size: 42px;
  color: var(--color-text);
  margin-bottom: 5%;
  margin-right: 16%;
  text-align: right;
}

.grid-container1 {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 auto;
  padding: 10px;
}
.grid-container1 .grid-item {
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--color-language);
  text-align: justify;
}

.grid-container2 {
  width: 30%;
  justify-content: initial;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 51%;
  padding: 10px;
}
.grid-container2 .grid-item {
  padding: 10px;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--color-language);
  text-align: justify;
}

#pills {
  background-color: indigo;
  box-shadow: 0 0 12px 4px var(--shadow-glow);
  color: white;
  padding: 8px;
  border-radius: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  z-index: 999;
  margin-top: 80vh;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: var(--bg);
  color: var(--color-text);
  cursor: pointer;
  outline: none;
  border: 3px solid var(--color-text);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: var(--color-text);
  color: var(--bg);
}

/* Animations */
.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
footer {
  background: var(--bg);
  padding: 60px 0;
}

.footer-bottom {
  max-width: 1300px;
  margin: auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: var(--color-text);
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.rights-text {
  color: var(--color-text);
}

.right-col {
  margin-top: 10%;
}
.right-col h6 {
  font-size: 45px;
  color: var(--color-text);
}
.right-col #contact {
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: indigo;
  transition: all 0.5s;
}
.right-col #contact:hover {
  background: #2b2bff;
  box-shadow: 0px 6px 15px rgba(0, 0, 255, 0.3803921569);
}
.right-col p {
  align-items: center;
  color: var(--color-text);
  margin: 30px 0;
}
.right-col p h7 {
  font-weight: bold;
}

.border {
  width: 100px;
  height: 4px;
  margin-bottom: 4%;
  background: #fc5c65;
}/*# sourceMappingURL=aboutMe.css.map */