@import 
url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

:root{
    --bg: #FCFCFC;
    --bg-section:  #FCFCFC;
    --color-headings: rgba(52, 73, 94,1.0);
    --color-text: #333333;
    --color-language: black;
    --shadow: #9f9f9f;
    --shadow-glow: none;
    --webslingr: rgb(218, 218, 218);
    --button: #0F0F6D;
    --scroller: #b5b5b5;
    --hoverScroll: blue;
}

.darkmode{
    --bg: #1c1c1c;
    // --bg: black;
    --bg-section: #1c1c1c;
    // --bg-section: black;
    --color-headings: #b5b5b5;
    --color-text: #b5b5b5;
    --color-language: white;
    --shadow: #1c1c1c;
    --shadow-glow: indigo;
    --webslingr: #161616;
    --button: #2b2bff;
    --scroller: #30ff00;
    --hoverScroll: #00c6ff;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.logo{
    margin-left: 69px;

    h1{
    font-size: 18px;
    font-weight: 40;
    color: var(--color-text);
    margin-top: 3%;
    }
}


button::-moz-focus-inner {
    border: 0;
  }
  


.dark-mode-toggle {
    position: fixed;
    z-index: 100;
    top: 45px;
    right: 30px;
    color: var(--color-text);
    border: 0px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    // border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 750ms;
  }

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
    //  background: var(--bg);
 } 

body{
    // margin: 0;
    // padding: 0;
    // font-family: 'Montserrat', sans-serif;
    background: var(--bg);
}

a{
    transition: all .5s;
    text-decoration: none;
    color: var(--color-text);
}

nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style: none;

    }

    h1{
        font-size: 18px;
        font-weight: 40;
        color: var(--color-text);

        #logo {
            flex: 3;
            position: relative;

       
        }
    
    }
}


section{
    padding: 70px 0;
    margin-top: 100px;
    background: var(--bg-section);
    text-align: center;
}


.name{
    font-size: xx-large;
    font-weight: bold;
    color: var(--color-text); 
    position: absolute; 
    top: 0; 
    left: -0.43em; 
    bottom: 0; 
    right: 0; 
    z-index: 0; 
    line-height: 1.4em;
}

.webslingr{
    position: relative; 
    font-size: 17vw;
    height: 100px; 
    z-index : 1;
    line-height: 0.3em;
    margin-bottom: 30vh;
    text-shadow: 0 0 15px var(--webslingr);
    color: var(--bg);
    font-weight: 800;
}


//CODING SECTION

h2{
    font-size: 42px;
    color: var(--color-text);
    margin-bottom: 5%;
    margin-left: 2%;
    text-align: left;
}

h3{
    font-size: 42px;
    color: var(--color-text);
    margin-bottom: 5%;
    margin-right: 16%;
    text-align: right;
}

.grid-container1{
    width: 30%;
    // align-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 auto;
    // grid-template-columns: repeat(auto-fit, minmax(10px, 3fr));
    // grid-gap: 10px;
    // background-color: #2196F3;
    padding: 10px;

    .grid-item{
        // background-color: rgba(255, 255, 255, 0.8);
        // border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 20px;
        font-style: normal;
        margin-bottom: 20px;
        font-weight: 400;
        color: var(--color-language);
        text-align: justify;
    }
}


.grid-container2{
    width: 30%;
    justify-content: initial;
    display: flex;
    flex-wrap: wrap-reverse;
    // margin: 10px 0 auto;
    margin-left: 51%;
    // background-color: #2196F3;
    padding: 10px;

    .grid-item{
        // background-color: rgba(255, 255, 255, 0.8);
        // border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 10px;
        font-size: 20px;
        font-style: normal;
        margin-bottom: 20px;
        font-weight: 400;
        color: var(--color-language);
        text-align: justify;
    }
}


#pills{
    background-color: indigo;
    box-shadow: 0 0 12px 4px var(--shadow-glow);
    color: white;
    padding: 8px;
    border-radius: 30px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}



@import "backToTopButton";
@import "footer";