@import 
url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

:root{
    --bg: #FCFCFC;
    --bg-section:  #FCFCFC;
    --color-headings: rgba(52, 73, 94,1.0);
    --color-text: #333333;
    --box-shadow: rgba(0,0,0,.2);
    --bg-blog:  #FCFCFC;
    --border: white;
}

.darkmode{
    --bg: #1c1c1c;
    --bg-section: #1c1c1c;
    --color-headings: #b5b5b5;
    --color-text: #b5b5b5;
    --box-shadow: black;
    --bg-blog:  #1c1c1c;
    --border: linear-gradient(to right, #f030a7, #f0308d, #f03061);
}


.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
}

nav ul{
    float: right;
    margin-right: 10%;
    margin-top: -5%;
}

nav ul li{
    display:inline-block;
    margin: 0 15px;
}

nav ul li a{
    color: var(--color-text);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover{
    background: var(--color-text);
    color: var(--bg);
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: var(--color-text);
    float: right;
    margin-top: 7%;
    margin-right: 2%;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

// .grid-container {
//     display: grid;
//     justify-content: space-between;
//     grid-template-columns: 20px 90px;
//     overflow: hidden;
//     background: var(--bg);
//     text-align: center;
//     position: relative;
//     z-index: 999;
//     width: 100%;
// }

.dark-mode-toggle {
    position: absolute;
    // z-index: 100;
    // top: 35px;
    // right: 30px;
    color: var(--color-text);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 750ms;
    margin-top: -1.5%;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg);
}

nav{
    background: transparent;
}

a{
    transition: all .5s;
    text-decoration: none;
    color: #fff;
}

img{
    width: 100%;
    transition: all .5s;
}

section{
    padding: 70px 0;
    margin-top: 100px;
    background: var(--bg-section);
    text-align: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 30px 15px 0px 15px;
    padding-bottom: 100px;
}


.title{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
    color: var(--color-headings); //for description below header
}

.title h2{
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--color-headings);
    font-weight: 700;
}

.grid {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: stretch;
    }
  
  .grid > article {
    border: 1px solid var(--border);
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 13px;
    text-align: center;
  }
  
  .grid > article:hover{
    transition: transform .5s ease-out;
    transform: translateY(-10px);
  }
  
  .grid > article img {
    width: 100%;
    border-radius: 13px 13px 0px 0px;
  }
  
  
  .text {
    padding: 0 20px 20px;
    color: var(--color-text);
    text-align: justify;
  }
  
  .text > h3{
    text-transform: uppercase;
    
  }
  
  .text > button {
    background: linear-gradient(to right, #f030a7, #f0308d, #f03061);
    border-radius: 13px;
    border: 0;
    color: white;
    padding: 10px;
    width: 50%;
    font-weight: 600;
    text-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    text-transform: uppercase;
  }
  
  


// .blog-post{
//     width: 100%;
//     max-width: 75px;
//     height: 200px;
//     padding: 150px;
//     margin-top: 8%;
//     margin-left: 50px;
//     background: var(--bg-blog);
//     box-shadow: 0 1.4rem 8rem var(--box-shadow);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border-radius: 20px;
// }

// .blog-post__img{
//     min-width: 300%;
//     max-width: 300%;
//     margin-left: 215%;
//     margin-top: -280%;
//     height: 100%;
//     transform: translateX(-80px);
//     position: relative;
// }

// .blog-post__img img{
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     display: block;
//     border-radius: 20px;
// }

// .blog-post__img::before{
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: linear-gradient(to right, rgba(79, 172, 254, .8), 
//                                           rgba(0, 242, 254, .8));
//     box-shadow: .5rem .5rem 3rem 1px var(--box-shadow);
//     border-radius: 20px;
// }

// .blog-post__date span{
//     display: block;
//     color: var(--color-text);
//     text-align: justify;
//     font-size: 1.6rem;
//     font-weight: 400;
//     font-size: 20px;
//     margin: .5rem 5;
// }

// .blog-post__title{
//     font-size: 20px;
//     margin: 1.5rem 0 2rem;
//     text-align: justify;
//     text-transform: uppercase;
//     color: #4facfe;
// }

// .blog-post__duration{
//     color: var(--color-text);
//     font-weight: 75;
//     font-style: italic;
//     margin-top: -54px;
//     margin-left: 75%;
//     margin-right: -20%;
// }

// .blog-post__text{
//     margin-bottom: 2rem;
//     text-align: justify;
//     margin-right: -150px;
//     font-size: 13px;
//     color: var(--color-text);
// }

// .blog-post__cta{
//     display: inline-block;
//     padding: 1rem 2rem;
//     margin-left: -80px;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     font-size: 1rem;
//     color: #fff;
//     background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
//     border-radius: .8rem;
// }

// .blog-post__cta:hover{
//     background-image: linear-gradient(to right, #00f2fe  0%, #4facfe 100%);
//     transition: all .5s;
// }

//FOOTER

footer{
    background: var(--bg);
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    text-align: center;
    color: var(--color-headings);
}

.footer-bottom{
    margin-top: 200px;
}



@media (max-width:992px) {
    main{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    
    .logo{
        font-size: 30px;
        padding-left: 5%;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width:767px) {
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
      }
    
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--bg);
        top: 40%;
        left: -5%;
        text-align: center;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: var(--color-text);
    }

}


html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}



@media (max-width:500px) {
    main{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .logo{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .dark-mode-toggle {
        top: 120px;
        right:44%;
    }
    
    .grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
      }
    
      .grid > article{
        text-align: center;
      }
}
