@import 
url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import "colors";
// :root{
//     --bg: #FCFCFC;
//     --bg-section:  #FCFCFC;
//     --color-headings: rgba(52, 73, 94,1.0);
//     --color-text: #333333;
//     --shadow: #9f9f9f;
//     --webslingr: rgb(218, 218, 218);
//     --button: #0F0F6D;
//     --scroller: #b5b5b5;
//     --hoverScroll: blue;
// }

// .darkmode{
//     --bg: #1c1c1c;
//     // --bg: black;
//     --bg-section: #1c1c1c;
//     // --bg-section: black;
//     --color-headings: #b5b5b5;
//     --color-text: #b5b5b5;
//     --shadow: #1c1c1c;
//     --webslingr: #161616;
//     --button: #2b2bff;
//     --scroller: #30ff00;
//     --hoverScroll: #00c6ff;
// }


html{
    scroll-behavior: smooth;
}


.logo{
    margin-left: 69px;

    h1{
    font-size: 18px;
    font-weight: 40;
    color: var(--color-text);
    margin-top: 3%;
    }
}


button::-moz-focus-inner {
    border: 0;
  }
  


.dark-mode-toggle {
    position: fixed;
    z-index: 100;
    top: 45px;
    right: 30px;
    color: var(--color-text);
    border: 0px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    // border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 750ms;
  }

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
    //  background: var(--bg);
 } 

body{
    // margin: 0;
    // padding: 0;
    // font-family: 'Montserrat', sans-serif;
    background: var(--bg);
}

a{
    transition: all .5s;
    text-decoration: none;
    color: var(--color-text);
}


img{
    width: 100%;
    transition: all .5s;
}

.contact-section{
    background: var(--bg);
    padding: 80px 0;
    text-align: center;
    margin-bottom: 10vh;
    // display: flex;


    h2{
        // font-size: 20px;
        color: var(--color-text);
        margin-bottom: 16vh;
        margin-left: 4vw;
        text-align: justify;
        font-size: 50px;
        width: 90%;
        // letter-spacing: 4px;
    }


//     button{
//         background:none;
//         color: purple;
//         border: 3px solid purple;
//         font-weight: bold;
//         padding: 12px 40px;
//         border-radius: 8px;
//         text-transform: uppercase;
//         font-size: 14px;
//         align-self: left;
//         transition: 0.4s linear;
//         cursor: pointer;
//     }


//     button:hover{
//         background: purple;
//         color: #fff;
//     }


       button{
        background: var(--button);
        color: #ffffff;
        cursor: pointer;
        font-size: 19px;
        font-weight: bold;
        padding: 22px 40px;
        margin-top: 2vh;
        border: 0;
        transition: all 0.5s;
        border-radius: 10px;
        width: auto;
        position: relative;
    
        &::after {
            content: "\f0e0";
            font-family: "Font Awesome 5 Pro";
            font-weight: 400;
            position: absolute;
            left: 85%;
            top: 34%;
            right: 5%;
            bottom: 0;
            opacity: 0;
    
        }
    
        &:hover {
            background: #2b2bff;
            transition: all 0.5s;
            border-radius: 10px;
            box-shadow: 0 0 2em 0.5em var(--clr-neon);
            // box-shadow: 0px 6px 15px #0000ff61;
            // padding: .5rem 3.5rem .5rem .5rem;
            padding-right: 4rem;
            
    
            &::after {
                opacity: 1;
                transition: all 0.5s;
    
            }
        }
    
    
    } 
}

.inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    
    
    p{
        text-align: justify;
        margin-left: 11%;
        margin-bottom: 2vh;
        font-weight: bold;
        color: var(--color-text);
    }


    #txtNameError, #txtEmailError, #txtMessageError{
        color: red;
        font-weight: 800;
        margin-bottom: 4vh;
        margin-left: 12%;
        margin-top: -4%;
        display: flex;
    }
}

// .form-control{
//     margin-right: 5%;
// }

.name, .email, .message {
    // display: flex;
    background: var(--bg);
    color: var(--color-text);
    border: 2px solid var(--color-text);
    border-radius: 10px;
    padding: 10px 6px;
    margin-bottom: 5vh;
    // width: 30vw;
    // margin-bottom: 8vh;
    
}

// .nameField, .emailField, .messageField{
//     text-align: left;
//     margin-left: 12%;
//     margin-top: 1vh;
//     margin-bottom: 6vh;
//     display: flex;

//     i{
//         position: absolute;
//         visibility: hidden;
//     }

//     small{
//         margin-left: 2%;
//         visibility: hidden;
//         // position: absolute;
//     }
    
// }

.name {
    width: 80%; 
}

.email{
    width: 80%;
}

.message{
    min-width: 80%;
    max-width: 80%;
    resize: none;
    // margin-bottom: 13vh;
}

input:invalid {
    border: 2px dashed red;
}
  
input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}
  
input:valid {
    border: 2px solid var(--color-text);
}


// input:focus {
//     border: 2px solid purple;
//     transition: 0.5s;
// }

// textarea:focus{
//     border: 2px solid purple;
//     transition: 0.5s;
// }

// &:focus{
//     .name, .email, .message{
//     border: 3px solid purple;
// }
// }







html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

@import "header";
@import "footer";
@import "mobile-contactMe";
@import "backToTopButton";