@import 
url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

$transition-duration: 2s;
$path-length: 157px; // Retrieved using SVG's getTotalLength()

:root{
    --bg: #FCFCFC;
    --bg-section:  #FCFCFC;
    --color-headings: rgba(52, 73, 94,1.0);
    --color-text: #333333;
    --shadow: #9f9f9f;
    --webslingr: rgb(218, 218, 218);
    --button: #0F0F6D;
    --scroller: #b5b5b5;
    --hoverScroll: blue;
}

.darkmode{
    --bg: #1c1c1c;
    // --bg: black;
    --bg-section: #1c1c1c;
    // --bg-section: black;
    --color-headings: #b5b5b5;
    --color-text: #b5b5b5;
    --webslingr: #161616;
    --button: #2b2bff;
    --shadow: #1c1c1c;
    --scroller: #30ff00;
    --hoverScroll: #00c6ff;
}


html{
    scroll-behavior: smooth;
}


.logo{
    margin-left: 69px;

    h1{
    font-size: 18px;
    font-weight: 40;
    color: var(--color-text);
    margin-top: 3%;
    }
}


button::-moz-focus-inner {
    border: 0;
  }
  


.dark-mode-toggle {
    position: fixed;
    z-index: 100;
    top: 45px;
    right: 30px;
    color: var(--color-text);
    border: 0px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    // border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 750ms;
  }

  

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg);
}

a{
    transition: all .5s;
    text-decoration: none;
    color: black;
}


img{
    width: 100%;
    transition: all .5s;
}



nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        flex: 1;
        list-style: none;

    }

    h1{
        font-size: 18px;
        font-weight: 40;
        color: var(--color-text);

        #logo {
            flex: 3;
            position: relative;

       
        }
    
    }
}



section{
    padding: 70px 0;
    margin-top: 100px;
    background: var(--bg-section);
    text-align: center;
}


  h3{
    text-align: left;
    margin-left: 8vw;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 50px;
    color: var(--color-text);
} 





//SCROLLER

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: var(--scroller);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--hoverScroll);
}


@media (max-width:992px) {

}

@media (max-width:767px) {
  
    title{
        width: 95%;
    }
    .blogContent{
        bottom:0;
    }

    h2{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }


    h3{
      text-align: center;
      margin-top: 35vh;
    }

}


html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}



@media (max-width:500px) {

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .logo{
        padding-top: 40px;
        padding-bottom: 30px;
    }
    // .dark-mode-toggle {
    //     top: 120px;
    //     right:44%;
    // }

    h2{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    h3{
      text-align: center;
      margin-top: 35vh;
    }
    
}

@import "preloader";
@import "backToTopButton";
@import "hero";
@import "project";
@import "moreContent";
@import "footer";