@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--bg);
}

a {
  transition: all 0.5s;
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  transition: all 0.5s;
}

h3 {
  text-align: left;
  margin-left: 8vw;
  margin-bottom: 10%;
  font-size: 50px;
  color: var(--color-text);
}

#container3D {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: ease-in-out 0.1s;
}

.scroll-area {
  height: 500vh;
}

.website {
  position: relative;
  z-index: 3;
}

.webslingr {
  font-size: 17vw;
  position: fixed;
  z-index: 0;
  line-height: 0.3em;
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-shadow: 0 0 15px var(--webslingr);
  color: var(--bg);
  font-weight: 800;
}

#container canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}

.technologies {
  background: var(--bg-section);
  text-align: center;
}

.frontend, .other {
  display: flex;
  margin-top: 340px;
  justify-content: space-evenly;
}
.frontend p, .other p {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-text);
}

.grid-container {
  display: grid;
  width: 40%;
  justify-content: end;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  transform-style: preserve-3d;
  margin-bottom: 40px;
}

.grid-container p {
  color: var(--color-text);
  margin-top: 5%;
  font-weight: bold;
  font-size: large;
}

.tech1 {
  position: relative;
  left: 0;
  width: 105px;
}
.tech1 img {
  box-shadow: 0 0 0.9em 0.1em var(--bootstrap);
  border-radius: 20px;
}

.tech2 {
  position: relative;
  bottom: 80%;
  left: 20%;
  width: 105px;
}
.tech2 img {
  box-shadow: 0 0 0.9em 0.1em var(--html5);
  border-radius: 20px;
}

.tech3 {
  position: relative;
  left: 35%;
  width: 105px;
}
.tech3 img {
  box-shadow: 0 0 0.9em 0.1em var(--css3);
  border-radius: 20px;
}

.tech4 {
  position: relative;
  left: 25%;
  width: 105px;
}
.tech4 img {
  box-shadow: 0 0 0.9em 0.1em var(--javascript);
  border-radius: 20px;
}

.tech5 {
  position: relative;
  left: 45%;
  width: 105px;
}
.tech5 img {
  box-shadow: 0 0 0.9em 0.1em var(--react);
  border-radius: 20px;
}

.backend {
  display: flex;
  margin-bottom: 150px;
  justify-content: space-evenly;
}
.backend p {
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-text);
}

.grid-container2 {
  display: grid;
  width: 40%;
  justify-content: end;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  transform-style: preserve-3d;
  margin-bottom: 340px;
}

.grid-container2 p {
  color: var(--color-text);
  margin-top: 5%;
  font-weight: bold;
  font-size: large;
}

.tech6 {
  position: relative;
  left: 30%;
  width: 105px;
}
.tech6 img {
  box-shadow: 0 0 0.9em 0.1em var(--mysql);
  border-radius: 20px;
}

.tech7 {
  position: relative;
  bottom: 80%;
  left: 20%;
  width: 105px;
}
.tech7 img {
  box-shadow: 0 0 0.9em 0.1em var(--node);
  border-radius: 20px;
}

.tech8 {
  position: relative;
  left: 35%;
  width: 105px;
}
.tech8 img {
  box-shadow: 0 0 0.9em 0.1em var(--nginx);
  border-radius: 20px;
}

.tech9 {
  position: relative;
  left: 25%;
  width: 105px;
}
.tech9 img {
  box-shadow: 0 0 0.9em 0.1em var(--apache);
  border-radius: 20px;
}

.tech10 {
  position: relative;
  left: 45%;
  width: 105px;
}
.tech10 img {
  box-shadow: 0 0 0.9em 0.1em var(--php);
  border-radius: 20px;
}

.tech11 {
  position: relative;
  left: 45%;
  width: 105px;
}
.tech11 img {
  box-shadow: 0 0 0.9em 0.1em var(--dotnet);
  border-radius: 20px;
}

.grid-container3 {
  display: grid;
  width: 40%;
  justify-content: end;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  transform-style: preserve-3d;
  margin-bottom: 340px;
}

.grid-container3 p {
  color: var(--color-text);
  margin-top: 5%;
  font-weight: bold;
  font-size: large;
}

.tech12 {
  position: relative;
  left: 45%;
  width: 105px;
}
.tech12 img {
  box-shadow: 0 0 0.9em 0.1em var(--wordpress);
  border-radius: 20px;
}

.tech13 {
  position: relative;
  left: 45%;
  width: 105px;
}
.tech13 img {
  box-shadow: 0 0 0.9em 0.1em var(--drupal);
  border-radius: 20px;
}

.tech14 {
  position: relative;
  left: 45%;
  width: 105px;
}
.tech14 img {
  box-shadow: 0 0 0.9em 0.1em var(--postman);
  border-radius: 20px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.loading {
  overflow: hidden;
  height: 100vh;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: var(--bg);
  width: 100%;
  height: 100%;
}

.loader,
.loader:before,
.loader:after {
  background: #fc5c65;
  border-radius: 120px;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #fc5c65;
  border-radius: 120px;
  text-indent: -9999em;
  top: 30vh;
  left: 0;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}
@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
:root {
  --bg: #FCFCFC;
  --bg-section: #FCFCFC;
  --color-headings: rgba(52, 73, 94,1.0);
  --color-text: #333333;
  --shadow: #9f9f9f;
  --webslingr: rgb(218, 218, 218);
  --button: #0F0F6D;
  --taghtml5: #F05000;
  --tagscss: rgb(254, 128, 149);
  --tagcss3: #1830DA;
  --tagjavascript: #F0D800;
  --tagphp: #6579AA;
  --tagreact: #09CEF9;
  --tagbootstrap: #5F16F0;
  --tagelectron: #414141;
  --taglaravel: #F05000;
  --tagwordpress: #646464;
}

.darkmode {
  --bg: #1c1c1c;
  --bg-section: #1c1c1c;
  --color-headings: #b5b5b5;
  --color-text: #b5b5b5;
  --webslingr: #161616;
  --button: #2929ff;
  --shadow: #1c1c1c;
  --clr-neon: hsla(240, 100%, 58%, 0.694);
  --clr-bg: hsl(323 21% 16%);
  --bootstrap: #5F16F0;
  --html5: #F05000;
  --scss: rgb(254, 128, 149);
  --css3: #1830DA;
  --javascript: #F0D800;
  --php: #6579AA;
  --mysql: #0379BB;
  --node: #168F02;
  --react: #09CEF9;
  --nginx: #038B52;
  --apache: #E32A2A;
  --dotnet: #6113FF;
  --wordpress: #646464;
  --drupal: #06A5FF;
  --postman: #FF5C00;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  z-index: 999;
  margin-top: 80vh;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: var(--bg);
  color: var(--color-text);
  cursor: pointer;
  outline: none;
  border: 3px solid var(--color-text);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: var(--color-text);
  color: var(--bg);
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
html, body, section {
  block-size: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: var(--bg);
  z-index: 5;
}

.hero img {
  width: 34vw;
  margin: auto;
}

#btnResume {
  background: var(--button);
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 20px;
  margin-bottom: 7em;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
}
#btnResume::after {
  content: "➜";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 54%;
  bottom: 17.5%;
  opacity: 0;
}
#btnResume:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  padding-right: 4rem;
}
#btnResume:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.namer {
  background: var(--bg-section);
}

.name {
  font-size: xx-large;
  font-weight: bold;
  color: var(--color-text);
  text-align: left;
  margin: auto;
  bottom: 0;
  z-index: 2;
  line-height: 4px;
  align-self: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name p {
  position: sticky;
}

.webslingr {
  font-size: 17vw;
  position: fixed;
  z-index: 0;
  line-height: 0.3em;
  margin-top: 20vh;
  margin-bottom: 10vh;
  text-shadow: 0 0 15px var(--webslingr);
  color: var(--bg);
  font-weight: 800;
}

h2 {
  color: var(--color-text);
  font-size: xx-large;
  font-weight: bold;
}

#about-me {
  background: var(--button);
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 33px;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  margin-top: 7%;
  width: auto;
  position: relative;
  align-self: center;
  z-index: 4;
}
#about-me::after {
  content: "\f007";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 75%;
  top: 34%;
  right: 15%;
  bottom: 0;
  opacity: 0;
}
#about-me:hover {
  background: #2b2bff;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  transition: all 0.5s;
  border-radius: 10px;
  padding-right: 4rem;
}
#about-me:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

.mousey {
  display: flex;
  justify-content: center;
}

.mouse {
  width: 22px;
  height: 33px;
  position: relative;
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite, transitionIn 5s;
}

.mouse:before,
.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.mouse:before {
  width: 16px;
  height: 27px;
  background-color: var(--bg);
  border-radius: 100px;
}

.mouse:after {
  background-color: var(--color-text);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-5px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(35px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-5px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-5px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-5px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(35px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-5px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-5px);
  }
  60% {
    opacity: 1;
    transform: scale(0.9) translateY(-5px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(35px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-5px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-5px);
  }
}
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  width: 70%;
  margin: 0 auto;
  color: var(--color-text);
}

a {
  color: inherit;
}

.projects {
  background: var(--bg-section);
  text-align: center;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  margin: 0 auto;
}

.card {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity))), var(--bg-img);
  height: 15em;
  width: 10em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3em -2em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color-text);
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  position: absolute;
  top: 0;
  text-align: left;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card p {
  position: absolute;
  opacity: 0;
  font-size: 19px;
  font-weight: 600;
  left: 25px;
  bottom: 45px;
}

.card:hover p {
  font-weight: 600;
  opacity: 1;
  transition: 0.3s;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}
.card .tags .tag1 {
  background: var(--taghtml5);
}
.card .tags .tag2 {
  background: var(--tagscss);
}
.card .tags .tag3 {
  background: var(--tagjavascript);
}
.card .tags .tag4 {
  background: var(--tagphp);
}
.card .tags .tag5 {
  background: var(--tagreact);
}
.card .tags .tag6 {
  background: var(--tagbootstrap);
}
.card .tags .tag7 {
  background: var(--tagelectron);
}
.card .tags .tag8 {
  background: white;
  color: var(--taglaravel);
}
.card .tags .tag9 {
  background: var(--tagwordpress);
}

.card:hover .tags .tag {
  color: white;
}
.card:hover .tags .tag8 {
  color: var(--taglaravel);
  border: 1px solid var(--taglaravel);
}

.card:before, .card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: var(--bg-section);
  width: 250%;
  height: 250%;
}

.card:after {
  background: var(--bg-section);
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color-text);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 0;
  color: var(--color-text);
}

.card-grid-space .card-container {
  display: flex;
  justify-content: center;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

.project-link {
  font-size: 220%;
  margin-left: -2%;
  margin-top: 5%;
  color: var(--color-text);
  position: relative;
  padding: 6px;
  display: inline-block;
}

.project-link::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0 3rem 0;
  position: relative;
  z-index: 100;
  /*HAMBURGER MENU*/
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex: 1;
  list-style: none;
}
nav h1 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-text);
}
nav h1 #logo {
  flex: 3;
  position: relative;
}
nav .hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 20px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-text);
}

#logo {
  margin-left: 69px;
}
#logo h1 {
  font-size: 18px;
  font-weight: 40;
  color: var(--color-text);
  margin-top: 3%;
}

.nav-link {
  margin-left: -2%;
  margin-top: 5%;
  position: relative;
  padding: 6px;
  display: inline-block;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #b5b5b5;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button::-moz-focus-inner {
  border: 0;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::after {
  position: absolute;
  width: 100px;
  left: calc(50% - 60px);
  top: 125%;
  text-align: center;
  box-sizing: border-box;
  content: attr(data-tooltip);
  color: var(--bg);
  background: var(--color-text);
  padding: 8px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: ease-in-out opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dark-mode-toggle {
  position: fixed;
  z-index: 100;
  right: 30px;
  color: var(--color-text);
  border: 0px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 750ms;
}

footer {
  background: var(--bg);
  padding: 60px 0;
}

.footer-bottom {
  max-width: 2000px;
  margin: auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: var(--color-text);
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.rights-text {
  color: var(--color-text);
}

.right-col {
  margin-top: 80px;
}
.right-col h6 {
  margin: 0;
  font-size: 45px;
  color: var(--color-text);
}
.right-col #contact {
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: indigo;
  transition: all 0.5s;
}
.right-col #contact:hover {
  background: #2b2bff;
  box-shadow: 0px 6px 15px rgba(0, 0, 255, 0.3803921569);
}
.right-col p {
  align-items: center;
  color: var(--color-text);
  margin: 30px 0;
}
.right-col p h7 {
  font-weight: bold;
}

.border {
  width: 100px;
  height: 4px;
  margin-bottom: 4%;
  background: #fc5c65;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  title {
    width: 95%;
  }
  .blogContent {
    bottom: 0;
  }
  h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  h3 {
    text-align: center;
    margin-top: 35vh;
  }
}
@media only screen and (max-width: 767px) {
  .logo {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  h3 {
    width: 85%;
    font-size: 30px;
    margin-bottom: 12%;
    text-align: center;
  }
  h2 {
    font-size: x-large;
    margin-top: -20%;
    margin-bottom: 5%;
  }
  #about-me {
    font-size: 14px;
    padding: 11px 29px;
  }
  .mouse {
    width: 20px;
    height: 31px;
    margin-left: 48vw;
    margin-top: 12%;
  }
  .other {
    margin-top: 0;
  }
  .frontend, .backend, .other {
    flex-direction: column;
  }
  .grid-container {
    display: grid;
    margin-top: 75%;
    margin-left: 55%;
    /* width: 40%; */
    /* justify-content: end; */
    /* grid-template-columns: repeat(4, 1fr); */
    row-gap: 30px;
    transform-style: preserve-3d;
    margin-bottom: 340px;
  }
  .tech1, .tech2, .tech3, .tech4, .tech5, .tech6, .tech7, .tech8, .tech9, .tech10 .tech11,
  .tech12, .tech13, .tech14 {
    width: 23vw;
  }
  .tech1 {
    position: relative;
    left: 0;
  }
  .tech1 img {
    box-shadow: 0 0 0.9em 0.1em var(--bootstrap);
    border-radius: 20px;
  }
  .tech2 {
    bottom: 80%;
    left: 20%;
  }
  .tech2 img {
    box-shadow: 0 0 0.9em 0.1em var(--html5);
    border-radius: 20px;
  }
  .tech3 {
    left: 35%;
    top: 70%;
  }
  .tech3 img {
    box-shadow: 0 0 0.9em 0.1em var(--css3);
    border-radius: 20px;
  }
  .tech4 {
    left: 25%;
  }
  .tech4 img {
    box-shadow: 0 0 0.9em 0.1em var(--javascript);
    border-radius: 20px;
  }
  .tech5 {
    left: 45%;
  }
  .tech5 img {
    box-shadow: 0 0 0.9em 0.1em var(--react);
    border-radius: 20px;
  }
  .backend {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-evenly;
  }
  .backend p {
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-text);
  }
  .grid-container2 {
    display: grid;
    margin-top: 75%;
    margin-left: 55%;
    row-gap: 40px;
    transform-style: preserve-3d;
  }
  .grid-container2 p {
    color: var(--color-text);
    margin-top: 5%;
    font-weight: bold;
    font-size: large;
  }
  .tech6 {
    position: relative;
    top: 40%;
    left: 30%;
  }
  .tech6 img {
    box-shadow: 0 0 0.9em 0.1em var(--mysql);
    border-radius: 20px;
  }
  .tech7 {
    bottom: 90%;
    left: 20%;
  }
  .tech7 img {
    box-shadow: 0 0 0.9em 0.1em var(--node);
    border-radius: 20px;
  }
  .tech8 {
    left: 35%;
    top: 40%;
    margin-left: 25%;
  }
  .tech8 img {
    box-shadow: 0 0 0.9em 0.1em var(--nginx);
    border-radius: 20px;
  }
  .tech9 {
    left: 25%;
  }
  .tech9 img {
    box-shadow: 0 0 0.9em 0.1em var(--apache);
    border-radius: 20px;
  }
  .tech10 {
    left: 45%;
  }
  .tech10 img {
    box-shadow: 0 0 0.9em 0.1em var(--php);
    border-radius: 20px;
  }
  .tech11 {
    left: 45%;
    top: 45%;
    margin-left: 50%;
  }
  .tech11 img {
    box-shadow: 0 0 0.9em 0.1em var(--dotnet);
    border-radius: 20px;
  }
  .grid-container {
    display: grid;
    margin-top: 75%;
    margin-left: 55%;
    /* width: 40%; */
    /* justify-content: end; */
    /* grid-template-columns: repeat(4, 1fr); */
    row-gap: 30px;
    transform-style: preserve-3d;
    margin-bottom: 340px;
  }
  .grid-container3 {
    display: grid;
    margin-top: 75%;
    margin-left: 35%;
    row-gap: 30px;
    transform-style: preserve-3d;
    margin-bottom: 340px;
  }
  .grid-container3 p {
    color: var(--color-text);
    margin-top: 5%;
    font-weight: bold;
    font-size: large;
  }
  .tech6 {
    position: relative;
    left: 30%;
  }
  .tech6 img {
    box-shadow: 0 0 0.9em 0.1em var(--mysql);
    border-radius: 20px;
  }
  .tech7 {
    bottom: 80%;
    left: 20%;
  }
  .tech7 img {
    box-shadow: 0 0 0.9em 0.1em var(--node);
    border-radius: 20px;
  }
  .tech8 {
    left: 35%;
  }
  .tech8 img {
    box-shadow: 0 0 0.9em 0.1em var(--nginx);
    border-radius: 20px;
  }
  .tech9 {
    left: 25%;
  }
  .tech9 img {
    box-shadow: 0 0 0.9em 0.1em var(--apache);
    border-radius: 20px;
  }
  .tech10 {
    left: 45%;
  }
  .tech10 img {
    box-shadow: 0 0 0.9em 0.1em var(--php);
    border-radius: 20px;
  }
  .tech11 {
    left: 45%;
  }
  .tech11 img {
    box-shadow: 0 0 0.9em 0.1em var(--dotnet);
    border-radius: 20px;
  }
  .tech12 {
    left: 45%;
    bottom: 95%;
  }
  .tech12 img {
    box-shadow: 0 0 0.9em 0.1em var(--wordpress);
    border-radius: 20px;
  }
  .tech13 {
    left: 45%;
    top: 15%;
  }
  .tech13 img {
    box-shadow: 0 0 0.9em 0.1em var(--drupal);
    border-radius: 20px;
  }
  .tech14 {
    left: 45%;
    bottom: 85%;
  }
  .tech14 img {
    box-shadow: 0 0 0.9em 0.1em var(--postman);
    border-radius: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #logo {
    margin-right: 38%;
  }
  nav {
    justify-content: end;
  }
  .dark-mode-toggle {
    margin-right: 24px;
  }
  .hamburger.active {
    margin-left: 140px;
    margin-top: 50px;
  }
  .dark-mode-toggle {
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  nav {
    margin-left: 5em;
  }
  .menu {
    overflow-y: hidden;
    position: fixed;
    right: 100%;
    top: -17px;
    flex-direction: column;
    background-color: var(--bg-section);
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .menu.active {
    right: 0;
    touch-action: none;
  }
  .menu li {
    font-size: 3rem;
  }
  nav .hamburger {
    display: block;
    cursor: pointer;
    z-index: 999;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger.active {
    margin-left: 170px;
  }
  #dark-mode-toggle {
    top: 43px;
    right: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .hero img {
    width: 90%;
    margin-top: 20%;
  }
  section {
    width: 100%;
  }
  .mouse {
    width: 52px;
    height: 73px;
  }
  .mouse:before {
    width: 40px;
    height: 63px;
  }
  .mouse:after {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .hero img {
    width: 105vw;
    margin-top: 25%;
  }
  .mousey {
    display: block;
  }
  .name {
    font-size: large;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .card-grid-space .num {
    font-size: 2em;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
  .project-link {
    font-size: 180%;
    margin-top: 8%;
    color: var(--color-text);
    position: relative;
    padding: 8px;
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  .grid {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  article {
    width: 80%;
    margin: auto;
  }
  .project-link {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 767px) {
  footer-bottom {
    justify-content: center;
  }
  .right-col h6 {
    font-size: 25px;
  }
  .rights-text {
    width: 60vw;
  }
}/*# sourceMappingURL=dark.css.map */