@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
:root {
  --bg: #FCFCFC;
  --bg-section:  #FCFCFC;
  --color-headings: rgba(52, 73, 94,1.0);
  --color-text: #333333;
  --shadow: #9f9f9f;
  --webslingr: rgb(218, 218, 218);
  --button: #0F0F6D;
  --scroller: #b5b5b5;
  --hoverScroll: blue;
}

.darkmode {
  --bg: #1c1c1c;
  --bg-section: #1c1c1c;
  --color-headings: #b5b5b5;
  --color-text: #b5b5b5;
  --webslingr: #161616;
  --button: #2b2bff;
  --shadow: #1c1c1c;
  --scroller: #30ff00;
  --hoverScroll: #00c6ff;
}

html {
  scroll-behavior: smooth;
}

.logo {
  margin-left: 69px;
}

.logo h1 {
  font-size: 18px;
  font-weight: 40;
  color: var(--color-text);
  margin-top: 3%;
}

button::-moz-focus-inner {
  border: 0;
}

.dark-mode-toggle {
  position: fixed;
  z-index: 100;
  top: 45px;
  right: 30px;
  color: var(--color-text);
  border: 0px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: 750ms;
  transition: 750ms;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--bg);
}

a {
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav h1 {
  font-size: 18px;
  font-weight: 40;
  color: var(--color-text);
}

nav h1 #logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

section {
  padding: 70px 0;
  margin-top: 100px;
  background: var(--bg-section);
  text-align: center;
}

h3 {
  text-align: left;
  margin-left: 8vw;
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 50px;
  color: var(--color-text);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroller);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hoverScroll);
}

@media (max-width: 767px) {
  title {
    width: 95%;
  }
  .blogContent {
    bottom: 0;
  }
  h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  h3 {
    text-align: center;
    margin-top: 35vh;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

@media (max-width: 500px) {
  .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .logo {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  h2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  h3 {
    text-align: center;
    margin-top: 35vh;
  }
}

.loading {
  overflow: hidden;
  height: 100vh;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: var(--bg);
  width: 100%;
  height: 100%;
}

.loader,
.loader:before,
.loader:after {
  background: #fc5c65;
  border-radius: 120px;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #fc5c65;
  border-radius: 120px;
  text-indent: -9999em;
  top: 30vh;
  left: 0;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    height: 4em;
  }
  40% {
    -webkit-box-shadow: 0 -2em;
            box-shadow: 0 -2em;
    height: 5em;
  }
}

#back-to-top-btn {
  display: none;
  position: fixed;
  z-index: 999;
  margin-top: 80vh;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: var(--bg);
  color: var(--color-text);
  cursor: pointer;
  outline: none;
  border: 3px solid var(--color-text);
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: var(--color-text);
  color: var(--bg);
}

/* Animations */
.btnEntrance {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
          animation-name: btnEntrance;
}

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: btnExit;
          animation-name: btnExit;
}

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.name {
  font-size: xx-large;
  font-weight: bold;
  color: var(--color-text);
  position: absolute;
  top: 0;
  left: -0.43em;
  bottom: 0;
  right: 0;
  z-index: 0;
  line-height: 1.4em;
}

.webslingr {
  position: relative;
  font-size: 17vw;
  height: 100px;
  z-index: 1;
  line-height: 0.3em;
  margin-bottom: 30vh;
  text-shadow: 0 0 15px var(--webslingr);
  color: var(--bg);
  font-weight: 800;
}

.webslingr #about-me {
  background: var(--button);
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 33px;
  border: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  margin-top: 8%;
  width: auto;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.webslingr #about-me::after {
  content: "\f007";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 75%;
  top: 34%;
  right: 15%;
  bottom: 0;
  opacity: 0;
}

.webslingr #about-me:hover {
  background: #2b2bff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 15px #0000ff61;
          box-shadow: 0px 6px 15px #0000ff61;
  padding-right: 4rem;
}

.webslingr #about-me:hover::after {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mouse {
  width: 22px;
  height: 33px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 49vw;
  background: #4e5559 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #ffffff), to(#ffffff));
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite, transitionIn 5s;
          animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite, transitionIn 5s;
}

.mouse:before,
.mouse:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.mouse:before {
  width: 16px;
  height: 27px;
  background-color: var(--bg);
  border-radius: 100px;
}

.mouse:after {
  background-color: var(--color-text);
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
          animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

/* Animations */
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-5px);
            transform: scale(0.4) translateY(-5px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-5px);
            transform: scale(0.4) translateY(-5px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(-5px);
            transform: scale(0.9) translateY(-5px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-5px);
            transform: scale(0.4) translateY(-5px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-5px);
            transform: scale(0.4) translateY(-5px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-5px);
            transform: scale(0.4) translateY(-5px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(-5px);
            transform: scale(0.9) translateY(-5px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(35px);
            transform: scale(0.4) translateY(35px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-5px);
            transform: scale(0.4) translateY(-5px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-5px);
            transform: scale(1) translateY(-5px);
  }
}

.projects {
  margin-top: 10%;
}

.title {
  width: 70%;
  margin: 0 auto;
  color: var(--color-text);
}

[class^="swiper-button-"] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  margin-left: 0vw;
  height: 70vh;
  float: left;
  -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}

.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}

.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}

.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}

.swiper-slide .content .title {
  font-size: 18px;
}

.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, transform .7s ease;
  transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}

.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.project-link {
  font-size: 220%;
  margin-left: -2%;
  color: var(--color-text);
  position: relative;
  padding: 6px;
  display: inline-block;
}

.project-link::before {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.project-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.grid {
  margin: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 5vw;
}

.grid > article {
  border: 1px solid var(--border);
  -webkit-box-shadow: 2px 8px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 8px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  width: 100%;
  height: 99%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.grid > article:hover {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  cursor: pointer;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.grid > article .imgBx {
  width: 100%;
  height: 100%;
}

.grid > article .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(purple), to(#000));
  background: linear-gradient(180deg, purple, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 13px;
}

.grid > article:hover .imgBx:before {
  opacity: 1;
}

.grid > article .imgBx img {
  border-radius: 13px;
}

.grid > article .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding: 5%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid > article .detail h5 {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 20px;
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
  opacity: 0;
}

.grid > article:hover .detail h5 {
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
}

.grid > article .detail p {
  color: #fff;
  -webkit-transform: translateY(55vh);
          transform: translateY(55vh);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
  opacity: 0;
}

.grid > article:hover .detail p {
  -webkit-transform: translateY(50vh);
          transform: translateY(50vh);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  opacity: 1;
}

footer {
  background: var(--bg);
  padding: 60px 0;
}

.footer-bottom {
  max-width: 1300px;
  margin: auto;
  padding: 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.logo2 {
  width: 54px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: var(--color-text);
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.rights-text {
  color: var(--color-text);
}

.right-col {
  margin-top: 10%;
}

.right-col h6 {
  font-size: 45px;
  color: var(--color-text);
}

.border {
  width: 100px;
  height: 4px;
  margin-bottom: 4%;
  background: #fc5c65;
}

.right-col #contact {
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: indigo;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.right-col #contact:hover {
  background: #2b2bff;
  -webkit-box-shadow: 0px 6px 15px #0000ff61;
          box-shadow: 0px 6px 15px #0000ff61;
}

.right-col p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text);
  margin: 30px 0;
}

.right-col p h7 {
  font-weight: bold;
}
/*# sourceMappingURL=dark.css.map */